body {
    background-color: gold;
    color: #999;
}
header{
    background-color: purple;
    height: 118px;
    border: 1px solid red;

}
.logo{
    margin: 0 0 10px 20px;
}
main {
    background-color: white;
    height: 600px;
    border: 1px solid green;
}
footer{
    background-color: goldenrod;
    height: 600px;
    border: 1px solid yellow;
}
